body {
    font-family: 'Ubuntu', sans-serif;
}
.button {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 12px 24px;
    text-decoration: none;
}
.container {
    background-image: linear-gradient(to left, rgb(75, 75, 75),rgba(235, 183, 183, 0.5)),
    url(https://images.unsplash.com/photo-1500964757637-c85e8a162699?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1503&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom right;
    min-height: 100vh;
    padding: 128px;
}

@media screen and (max-width: 768px) {
    .container {
        padding: 48px;
    }
}
    

.content {
    max-width: 500px;
}
.contact {
    margin-bottom: 30px;
    color: aliceblue;
}
.female-support {
    width: 200px;
    height: 200px;
    margin-bottom: 30px;
    border-radius: 50%;
    box-shadow: 10px 10px 0px 0px rgb(248, 246, 246);
}
.job {
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 40px;
    color: aliceblue;
}
.name {
    font-size: 48px;
    text-transform: uppercase;
    margin-bottom: 15px;
    color: aliceblue;
}

@media screen and (max-width: 768px) {
    .name {
        font-size: 36px;
    }
}
  

.nickname {
    font-size: 18px;
    font-weight: 300;
    color: aliceblue;
    margin-bottom: 15px;
}
